@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  margin-top: 50px;
  text-align: center;

  div {
    padding: 10px;

    span {
      padding: 10px;
      display: inline-block;
      text-align: center;
      width: 100px
    }
  }
}
