@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  margin-top: 20px;
  padding-right: 0px;
  overflow: hidden;

  a{
    text-decoration: none;
    margin: 50px;
  }

  form > div {
    width: 23%;
    margin-bottom: 20px;
  }

  table {
    th, td {
      text-align: center;
    }
  }
}
